*.sln
*.vcxproj
*.filters
*.user

.vs/
.vscode/
bin/**
deps/**
obj/**

imgui.ini

Makefile
*.make
include/AL
include/fmt
include/glm
include/KHR
include/Makefile.am
include/json.hpp

src/Gen/*.hpp
src/Gen/*.cpp

packer/packer
packer/Makefile
packer/Debug
packer/Release

packer/Packer.exe
packer/Packer.ilk
packer/Packer.pdb
